$fuente-titulo: 'Mochiy Pop P One', sans-serif;
$color-titulo: rgb(40, 168, 14);
$tamaño-titulos: 90px;
$colores: (cuadrado-1: #C5C750, cuadrado-2: #BD8D3A, cuadrado-3: #BD413A, cuadrado-4: #2B8AC4, cuadrado-5: #842F8F);



